DB_HOST=your_db_host
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_PORT=5432
DB_SSLMODE=require


EXA_API_KEY=your_exa_api_key
TAVILY_API_KEY=your_tavily_api_key

# Cerebras key
CEREBRAS_API_KEY=your_cerebras_api_key
BRAVE_API_KEY=your_brave_api_key


NEO4J_URI=your_neo4j_uri
NEO4J_USERNAME=your_neo4j_username
NEO4J_PASSWORD=your_neo4j_password
AURA_INSTANCEID=your_aura_instance_id
AURA_INSTANCENAME=your_aura_instance_name


GOOGLE_API_KEY=your_google_api_key
GOOGLE_MAP_KEY=your_google_map_key
QDRANT_API_KEY=your_qdrant_api_key
QDRANT_URL=your_qdrant_url
UPSTASH_API_KEY=your_upstash_api_key
UPSTASH_URL=your_upstash_url_tcp
